/* Genaral Styles */

body {
    background-color: #040d12;
    font-family: "Playfair Display", serif;
    color: white;
    height: 100%;
    overflow-y: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.frame {
    width: 100vw;
}

.frame.nav-frame {
    /* border: 1px red solid; */
    height: 100px;
}

#content-frame {
    border: 1px green solid;
    height: 800px;
    overflow: hidden;
    /* position: relative; */
}

#content-frame section {
    border: 1px orange solid;
    width: 100vw;
    height: 100%;
    transition: right 0.5s;
}

.frame.indicator-frame {
    /* border: 1px blue solid; */
    height: 20px;
}

.frame.footer-frame {
    height: calc(100vh - 100px - 800px - 20px);
}

/* Navbar */

.navbar-brand {
    margin-left: 1.8rem;
    margin-right: 0;
}

.brand-text {
    font-size: 2.5rem;
}

.nav-item {
    margin: 0 2rem;
    font-size: 1.3rem;
}

#main-navbar li {
    cursor: pointer;
}

#main-navbar li:hover {
    color: gray;
}

/* Navbar Brand Icon */

.svg-icon-container {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

.svg-icon-container:hover .circle-fill::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1b262c, #0f4c75, #3282b8, #bbe1fa, white);
    animation: slideColor 0.5s forwards;
}

@keyframes slideColor {
    to {
        bottom: 0;
    }
}

/* Additional styles for the SVG to support the hover effect */
.svg-icon-container svg {
    position: relative;
    z-index: 100;
}

/* Home */

.home-container {
    display: flex;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
    height: 42vh;
}

.home-image {
    width: vh;
    height: 42vh;
}

.home-text-1 {
    font-size: 1.8rem;
}

.home-text-2 {
    font-size: 3.8rem;
}

.home-text-3 {
    font-size: 8.5rem;
}

.home-text-4 {
    font-size: 2rem;
}

/* footer */

div.footer {
    background-color: yellow;
}

/* page indicator */

nav.indicators {
    text-align: center;
}

nav.indicators ul {
    padding: 0;
}

nav.indicators ul li {
    display: inline-block;
    width: 50px;
    height: 3px;
    border-radius: 4px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.transition li:hover {
    opacity: 1; /* Fully visible state */
}

nav.indicators > ul > .selected {
    opacity: 1;
}
