/* General Styles */

body {
    background-color: #040d12;
    /* font-family: "Playfair Display", serif; */
    font-family: "Courier New", Courier, monospace;
    color: white;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.frame {
    width: 100vw;
}

.frame.nav-frame {
    /* border: 1px red solid; */
    height: 150px;
}

#content-frame {
    /* border: 1px green solid; */
    height: 75vh;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
}

#content-frame section {
    /* border: 1px orange solid; */
    display: block;
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    scroll-snap-align: start;
}

.frame.footer-frame {
    position: fixed;
    height: calc(100vh - 150px - 75vh);
}

.section-container {
    height: 100%;
}

/* Navbar */

#navbar > nav {
    max-height: 150px;
}

#navbar > nav:hover {
    box-shadow: 0px 0px 10px 10px #141f25;
}

.navbar-logo {
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    border-left: solid 10px #ffffff;
    border-right: solid 10px #ffffff;
    height: 50px;
}

.brand-text {
    font-size: 3rem;
    font-family: "WindSong", cursive;
    margin-bottom: 2px;
    margin-right: 10px;
}

.nav-item {
    margin: 0 3rem 0 0;
    font-size: 1.3rem;
    overflow: hidden;
    text-wrap: nowrap;
}

.nav-item:last-child {
    margin-right: 0;
}

#main-navbar li {
    cursor: pointer;
}

#main-navbar li:hover {
    color: gray;
}

/* Navbar Brand Icon */

@keyframes colorLoop {
    0% {
        fill: #bbe1fa;
    }
    10% {
        fill: #3282b8;
    }
    20% {
        fill: #0f4c75;
    }
    30% {
        fill: #1b313d;
    }
    40% {
        fill: #141f25;
    }
    60% {
        fill: #141f25;
    }
    70% {
        fill: #1b313d;
    }
    80% {
        fill: #3282b8;
    }
    90% {
        fill: #bbe1fa;
    }
    100% {
        fill: #ffffff;
    }
}

.navbar-logo:hover .svg-icon circle {
    animation: colorLoop 2s infinite linear;
}

.svg-icon-container .svg-icon circle {
    transition: fill 0.5s;
}

.svg-icon-container svg {
    position: relative;
    z-index: 100;
}

/* Home */

.home-content {
    padding: 6rem 3rem;
}

.home-content:hover {
    box-shadow: 0px 0px 10px 10px #141f25;
}

.home-home-image-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.home-image {
    display: block;
    height: 40vh;
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 15px #141f25;
}

.home-image-container:hover .home-image {
    transform: scale(1.2);
}

.home-text-container {
    position: relative;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "WindSong", cursive;
}

.home-text-1 {
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: -35px;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 2px;
    line-height: -20px;
    color: grey;
}

.home-text-2 {
    font-size: 4.5rem;
    margin-top: 20px;
    margin-bottom: -100px;
    margin-left: 80px;
    margin-right: 0;
    letter-spacing: 10px;
    color: grey;
}

.home-text-3 {
    font-size: 13rem;
    margin: 0;
}

.home-text-4 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: 390px;
    margin-right: 0;
    color: grey;
}

.home-text-3::first-letter {
    font-size: 15rem;
}

/* about */

.about-content {
    width: 85%;
    height: 90%;
}

.section-card-container {
    height: 90%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow: hidden;
}

.section-card-change {
    width: 100%;
    height: 15%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.section-cards {
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.card-navigation {
    width: 10%;
    height: 100%;
}

.section-card {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    scroll-snap-align: start;
}

.card-content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
}

.card-header {
    height: 20%;
    font-size: 4rem;
    font-family: "WindSong", cursive;
    color: rgba(255, 255, 255, 1);
}

.card-body {
    height: 80%;
    max-height: 80%;
    width: 100%;
    max-width: 100%;
    padding-top: 1rem;
    overflow: hidden;
}

.ci-ele {
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 4rem;
    background-color: transparent;
    cursor: pointer;
}

.ci-shape {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease;
}

.ci-ele:last-child {
    margin-bottom: 0;
}

.ci-ele:hover > .ci-shape {
    background-color: rgba(255, 255, 255, 1);
}

.ci-ele.active-card-ind > .ci-shape {
    background-color: rgba(255, 255, 255, 1);
}

.card-change-icon > svg > circle {
    fill: rgba(255, 255, 255, 0.3);
    transition: fill 0.5s ease;
}

.section-card-change:hover > .card-change-icon > svg > circle {
    fill: rgba(255, 255, 255, 1);
}

.ccb-ele {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 1.8rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.5s ease;
}

.ccb-ele:hover {
    color: rgba(255, 255, 255, 1);
}

.ccb-ele.active-card-change-button {
    color: rgba(255, 255, 255, 1);
}

.ccb-icon {
    font-size: 2.3rem;
    font-weight: bold;
    margin-left: 1rem;
}

ul.card-list {
    font-size: 1.5rem;
    list-style: square;
    color: rgba(255, 255, 255, 0.5);
}

ul.card-list > li {
    padding-left: 1.5rem;
}

b.important-info {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
}

table.card-table {
    width: 90%;
    height: 80%;
    max-height: 90%;
    font-size: 1rem;
}

table.card-table tr {
    border: 1px solid white;
    border-collapse: collapse;
}

table.card-table td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 1rem;
}

.two-column-list {
    font-size: 20px;
    column-count: 2;
    column-gap: 20px;
    max-width: 95%;
    margin: 0;
}

.technical-skills-list {
    font-size: 2rem;
    column-count: 3;
    column-gap: 2rem;
    /* margin: 0 auto; */
}

/* work */

.work-content {
    width: 85%;
    height: 90%;
}

.work-cards {
    height: 90%;
    width: 90%;
    display: block;
}

.work-card {
    height: 100%;
}

.work-card-header {
    height: 20%;
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
}

.work-card-facts {
    height: 15%;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.work-card-desc-header {
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.work-card-desc-body {
    margin-left: 30px;
    font-size: 20px;
}

/* projects */

.project-content {
    width: 85%;
    height: 90%;
}

.project-cards {
    height: 90%;
    width: 75%;
    overflow: hidden;
}

.project-card {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    scroll-snap-align: start;
}

.project-card-header {
    height: 20%;
}

.project-title {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
}

.project-date {
    font-size: 25px;
    font-weight: 400;
    text-align: right;
}

.project-card-technologies {
    height: 15%;
}

.project-tech-header {
    font-weight: bold;
    margin-right: 20px;
    font-size: 25px;
}

.project-tech-body {
    margin-left: 30px;
    font-size: 25px;
}

.project-card-description {
    height: 65%;
    padding: 15px 0;
}

.project-about-header {
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.project-about-body {
    margin-left: 30px;
    font-size: 25px;
}

.project-card-navigation {
    height: 90%;
    width: 10%;
}

.pcnav-main {
    width: 100%;
    height: 100%;
}

.pcnav-number {
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

.pcnav-button {
    width: 25%;
}

/* contact */

.contact-icon {
    height: 2.8rem;
    width: 2.8rem;
    margin: 2.8rem;
}

.contact-icon:hover {
    box-shadow: 0px 0px 10px 10px #141f25;
}

/* footer */

/* page indicator */

nav.indicators {
    text-align: center;
    max-height: 30px;
    margin-top: 1.5rem;
}

nav.indicators ul {
    padding: 0;
    list-style: none; /* Removes default list styling */
}

nav.indicators ul li {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

.indicator-shape {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 100px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

nav.indicators ul li:hover > .indicator-shape {
    background-color: rgba(255, 255, 255, 1);
}

nav.indicators > ul > .active-main-ind .indicator-shape {
    background-color: rgba(255, 255, 255, 1);
}

#footer-row {
    height: 100px;
    margin: 0;
    padding: 0;
}
