/* Genaral Styles */

body {
    background-color: #040d12;
    /* font-family: "Playfair Display", serif; */
    font-family: "Courier New", Courier, monospace;
    color: white;
    height: 100%;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.frame {
    width: 100vw;
}

.frame.nav-frame {
    /* border: 1px red solid; */
    height: 150px;
}

#content-frame {
    /* border: 1px green solid; */
    height: 75vh;
    /* overflow: hidden; */
    /* position: relative; */
    scroll-snap-type: mandatory;
}

#content-frame section {
    /* border: 1px orange solid; */
    display: block;
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    /* transition: right 0.5s; */
}

.frame.footer-frame {
    position: fixed;
    height: calc(100vh - 150px - 75vh);
}

.section-container {
    height: 100%;
}

/* .section-content {
    padding: 80px;
} */

/* Navbar */

#navbar > nav {
    max-height: 150px;
}

#navbar > nav:hover {
    box-shadow: 0px 0px 10px 10px #141f25;
}

.navbar-logo {
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    border-left: solid 10px #ffffff;
    border-right: solid 10px #ffffff;
    height: 50px;
}

.brand-text {
    font-size: 3rem;
    font-family: "WindSong", cursive;
    margin-bottom: 2px;
    margin-right: 10px;
}

.nav-item {
    margin: 0 3rem 0 0;
    font-size: 1.3rem;
    overflow: hidden;
    text-wrap: nowrap;
}

.nav-item:last-child {
    margin-right: 0;
}

#main-navbar li {
    cursor: pointer;
}

#main-navbar li:hover {
    color: gray;
}

/* Navbar Brand Icon */

@keyframes colorLoop {
    0% {
        fill: #bbe1fa;
    }
    10% {
        fill: #3282b8;
    }
    20% {
        fill: #0f4c75;
    }
    30% {
        fill: #1b313d;
    }
    40% {
        fill: #141f25;
    }
    60% {
        fill: #141f25;
    }
    70% {
        fill: #1b313d;
    }
    80% {
        fill: #3282b8;
    }
    90% {
        fill: #bbe1fa;
    }
    100% {
        fill: #ffffff;
    }
}

.navbar-logo:hover .svg-icon circle {
    animation: colorLoop 2s infinite linear;
}

.svg-icon-container .svg-icon circle {
    transition: fill 0.5s;
}

.svg-icon-container svg {
    position: relative;
    z-index: 100;
}

/* Home */

.home-content {
    padding: 50px;
}

.home-content:hover {
    box-shadow: 0px 0px 10px 10px #141f25;
}

.home-home-image-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.home-image {
    display: block;
    height: 40vh;
    width: 100%;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: 0 0px 15px #141f25;
}

.home-image-container:hover .home-image {
    transform: scale(1.2);
}

.home-text-container {
    position: relative;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "WindSong", cursive;
}

.home-text-1 {
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: -35px;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 2px;
    line-height: -20px;
}

.home-text-2 {
    font-size: 4.5rem;
    margin-top: 20px;
    margin-bottom: -100px;
    margin-left: 80px;
    margin-right: 0;
    letter-spacing: 10px;
}

.home-text-3 {
    font-size: 13rem;
    margin: 0;
}

.home-text-3::first-letter {
    font-size: 15rem;
}

/* about */

.about-content {
    font-size: 30px;
    width: 80%;
    height: 80%;
    text-justify: distribute;
}

.about-card-container {
    height: 100%;
    width: 90%;
}

.card-navigation {
    height: 100%;
    width: 10%;
}

.about-cards {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.about-card-change {
    width: 100%;
    height: 10%;
}

.about-card {
    width: 100%;
    height: 100%;
}

.card-content {
    height: 100%;
    padding: 30px;
}

.card-header {
    font-size: 3rem;
    font-family: "WindSong", cursive;
}

.card-indicators {
    list-style: none;
}

.card-indicators {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

.card-indicators span {
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: 5rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease;
}

.card-indicators span:last-child {
    margin-bottom: 0;
}

.ci-ele:hover {
    background-color: rgba(255, 255, 255, 1);
}

.ci-ele.selected {
    background-color: rgba(255, 255, 255, 1);
}

/* footer */

div.footer {
    background-color: yellow;
}

/* page indicator */

nav.indicators {
    text-align: center;
    max-height: 30px;
}

nav.indicators ul {
    padding: 0;
    list-style: none; /* Removes default list styling */
}

nav.indicators ul li {
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}

nav.indicators ul li span {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

.transition li:hover span {
    background-color: rgba(255, 255, 255, 1);
}

nav.indicators > ul > .selected span {
    background-color: rgba(255, 255, 255, 1);
}

#footer-row {
    background-color: #3282b8;
    height: 100px;
    margin: 0;
    padding: 0;
}
